@charset "utf-8";
/*=============================================
universal style
=============================================*/
* {
	margin:0px; padding:0px;
}
body {
	width:100%;
	background-color:#ffffff;
	background-image:none;
	font-size:100%;
	font-family: Helvetica, "MS ゴシック", ;
	line-height: 1.5;
	color:#333333;
}
div#pagebody {
	width:100%; margin:0 auto;
	background-color:#ffffff;
	background-image:none;
	background-repeat:no-repeat;
}
/*=============================================
header
=============================================*/
div#header {
	height:46px;
}
div#header h1 {
	padding: 0px;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}
div#header h1 a {text-decoration:none;}
div#header img {
	width:320px; height:46px;
}
img {border:0;}
/*=============================================
header image
=============================================*/
div#img_index {
	display:none;
}
div#img_subpage {
	display:none;
}
/*=============================================
main menu
=============================================*/
ul#menu {
	width:100%;
	margin:0px;
}
#menu li {
	list-style-type:none;
	display:inline;
	float:left;
}
#menu li a {
	background-color:#ffffff;
	color:blue;
	display:block;
	width:90px; height:45px;
	padding:15px 0px 0px 60px;
	text-align:center;
	text-decoration:none;
	background-image:url(images/icon_menu.png);
	background-repeat:no-repeat;
	font-size:120%;
}
#menu li a:hover{
	background-color:#ffffff;
	background-image:url(images/icon_menu.png);
}
/*=============================================
sub menu (left column)
=============================================*/
h2 {
	width:100%; height:40px;
	padding:15px 0px 0px 100px;
	font-size: 16px;
	background-image:none;
	background-repeat:no-repeat;
	background-color:#000033;
	color:#ffffff;
	clear:both;
}
div#submenu {
	width:100%;
	margin:0px;
	float:none;
}
div#submenu ul li {
	list-style-type:none;
}
div#submenu ul li a {
	display:block;
	width:100%; height:40px;
	padding:15px 0px 0px 10px;
	text-decoration:none;
	border-bottom:1px dotted gray;
	background-image:none
	background-repeat:no-repeat;
	background-color:#cccccc
	color: #000000;
}
div#submenu ul li:first-child a {
	border-top:1px dotted gray;
}
div#submenu ul li:hover a {
	text-decoration:underline;
}
div#submenu ul li a:before {
	content: url("images/icon_submenu.png");
	margin:0px 10px 0px 0px;
	vertical-align:text-top;
}

/*=============================================
info (right column)
=============================================*/
div#info {
	width:100%;
	float:none;
	padding:0px;
}
h3 {
	font-size:14px;
	width:100%;
	margin:10px 0px 0px 0px;
	padding:10px 0px 10px 10px;
	background-color:#003399;
	color:#ffffff;
	border-radius:0px;
	-moz-border-radius:0px; -webkit-border-radius:0px; -o-border-radius:0px; -ms-border-radius:0px;
}
p {
	width:95%;
	margin:10px;
	text-indent:1em;
}
.informing_index {
	display:block;
	width:300px; height:60px;
	margin:0px 0px 20px 00px;
	float:none;
}
.informing_subpage {
	display:block;
	width:300px; height:60px;
	margin:0px 0px 20px 0px;
	float:left;
}
hr {
	clear:both;
	width:100%;
	margin:10px 0px;
	border:1px dotted #cccccc;
}
/*=============================================
備考情報
=============================================*/
div.remarks {
	margin:0px 0px 10px 10px;
}
h4 {
	color:#000066;
}

/*=============================================
contact
=============================================*/
. informing_tel {
	display:block;
	width:400px; height:80px;
}

/*=============================================
footer
=============================================*/
div#footer {
	clear:both;
	height:40px;
	padding:10px 0px 0px 0px;
	font-size:x-small;
	text-align:center;
}